.library {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20rem;
	background: rgb(143, 151, 151);
	box-shadow: 2px 2px 50px grey;
	overflow: scroll;

	// hiding lib
	transform: translateX(-100%);
	opacity: 0;
	transition: all 0.5s ease;
	h2 {
		padding-left: 1rem;
	}
}

.librarySong {
	display: flex;
	// flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem 2rem 1rem 2rem;
	align-items: center;
	cursor: pointer;
	&:hover {
		background: #f8a8f8;
	}
	.song-description {
		width: 160px;
		padding-left: 1rem;
		h5 {
			font-size: 0.75rem;
		}
	}
	img {
		width: 30%;
	}
}

// Scroll-Bar
* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
}

.selected {
	background: violet;
}

.active-library {
	transform: translateX(0%);
	opacity: 1;
}
.App {
	transition: all 0.3s ease;
}
.library-active {
	margin-left: 30%;
}
